body {
  font-family: Lucida Console, Andale Mono, monospace;
  color: white;
  background: black;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
a {
  color: inherit;
}
.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
